/* styles.css */
/* * {
  outline: 1px solid red;
} */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
  background-image: url(login.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}
.login-container h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  background-color: purple;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5em;
  color: #f2ebeb;
}

.input-container input {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  background-color: #c0bdc0e4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
}

button:hover {
  background-color: #c190d6db;
}
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
  background-image: url(login.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw; /* Background color for the container */
}

.register-form {
  background-color: purple;
  width: 50%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.register-container h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.span-log{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-top: 20px;
}